In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=50)
lngs = np.random.uniform(low=-180.000, high=180.000, size=50)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

41

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=68b3f8e60a5651de3ec2820590a5b117

In [8]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [9]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | salalah
Processing Record 2 of Set 1 | kuche
City not found. Skipping...
Processing Record 3 of Set 1 | kenai
Processing Record 4 of Set 1 | tuktoyaktuk
Processing Record 5 of Set 1 | rikitea
Processing Record 6 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 7 of Set 1 | punta arenas
Processing Record 8 of Set 1 | cape town
Processing Record 9 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 10 of Set 1 | castro
Processing Record 11 of Set 1 | alofi
Processing Record 12 of Set 1 | mataura
Processing Record 13 of Set 1 | arraial do cabo
Processing Record 14 of Set 1 | bluff
Processing Record 15 of Set 1 | paamiut
Processing Record 16 of Set 1 | colesberg
Processing Record 17 of Set 1 | ushuaia
Processing Record 18 of Set 1 | jiayuguan
Processing Record 19 of Set 1 | asau
Processing Record 20 of Set 1 | mizdah
Processing Record 21 of Set 1 | hermanus
Processing Record 22 of Set 1 | karpogory
Processing Record 23 of Set 1 | gazojak
Processing Record 24 of Set 1 | vila franca do campo
Processing Record 25 of Set 1 | hobart
Processing Record 26 of Set 1 | monduli
Processing Record 27 of Set 1 | dikson
Processing Record 28 of Set 1 | qaanaaq
Processing Record 29 of Set 1 | busselton
Processing Record 30 of Set 1 | mar del plata
Processing Record 31 of Set 1 | elizabeth city
Processing Record 32 of Set 1 | san juan
Processing Record 33 of Set 1 | bethel
Processing Record 34 of Set 1 | barrow
Processing Record 35 of Set 1 | xining
Processing Record 36 of Set 1 | mahebourg
Processing Record 37 of Set 1 | touros
Processing Record 38 of Set 1 | kununurra
Processing Record 39 of Set 1 | linapacan
City not found. Skipping...
Processing Record 40 of Set 1 | pesochnoye
Processing Record 41 of Set 1 | vaitupu
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [30]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Salalah,17.0151,54.0924,82.49,54,0,3.44,OM,2022-05-05 03:13:51
1,Kenai,60.5544,-151.2583,53.69,38,40,12.66,US,2022-05-05 03:13:52
2,Tuktoyaktuk,69.4541,-133.0374,31.42,95,100,10.22,CA,2022-05-05 03:13:52
3,Rikitea,-23.1203,-134.9692,77.81,84,74,19.30,PF,2022-05-05 03:10:09
4,Punta Arenas,-53.1500,-70.9167,41.11,87,75,17.27,CL,2022-05-05 03:08:19
5,Cape Town,-33.9258,18.4232,57.11,90,11,1.79,ZA,2022-05-05 03:12:25
6,Castro,-24.7911,-50.0119,48.20,97,2,4.54,BR,2022-05-05 03:11:32
7,Alofi,-19.0595,-169.9187,80.49,69,40,6.91,NU,2022-05-05 03:13:53
8,Mataura,-46.1927,168.8643,66.47,59,46,2.55,NZ,2022-05-05 03:10:17
9,Arraial Do Cabo,-22.9661,-42.0278,75.16,87,87,8.41,BR,2022-05-05 03:13:53

In [34]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df= city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Salalah,OM,2022-05-05 03:13:51,17.0151,54.0924,82.49,54,0,3.44
1,Kenai,US,2022-05-05 03:13:52,60.5544,-151.2583,53.69,38,40,12.66
2,Tuktoyaktuk,CA,2022-05-05 03:13:52,69.4541,-133.0374,31.42,95,100,10.22
3,Rikitea,PF,2022-05-05 03:10:09,-23.1203,-134.9692,77.81,84,74,19.30
4,Punta Arenas,CL,2022-05-05 03:08:19,-53.1500,-70.9167,41.11,87,75,17.27
5,Cape Town,ZA,2022-05-05 03:12:25,-33.9258,18.4232,57.11,90,11,1.79
6,Castro,BR,2022-05-05 03:11:32,-24.7911,-50.0119,48.20,97,2,4.54
7,Alofi,NU,2022-05-05 03:13:53,-19.0595,-169.9187,80.49,69,40,6.91
8,Mataura,NZ,2022-05-05 03:10:17,-46.1927,168.8643,66.47,59,46,2.55
9,Arraial Do Cabo,BR,2022-05-05 03:13:53,-22.9661,-42.0278,75.16,87,87,8.41
10,Bluff,NZ,2022-05-05 03:12:24,-46.6000,168.3333,66.79,72,65,4.07
11,Paamiut,GL,2022-05-05 03:13:54,61.9940,-49.6678,24.91,56,100,8.81
12,Colesberg,ZA,2022-05-05 03:13:54,-30.7200,25.0972,55.35,48,8,2.10
13,Ushuaia,AR,2022-05-05 03:05:15,-54.8000,-68.3000,35.67,94,76,3.29
14,Jiayuguan,CN,2022-05-05 03:13:55,39.8167,98.3000,74.08,23,36,9.60
15,Asau,RO,2022-05-05 03:13:55,46.4333,26.4000,45.52,100,75,4.14
16,Mizdah,LY,2022-05-05 03:13:56,31.4451,12.9801,64.85,36,57,12.86
17,Hermanus,ZA,2022-05-05 03:08:53,-34.4187,19.2345,54.81,79,41,4.34
18,Karpogory,RU,2022-05-05 03:13:56,64.0019,44.4451,27.05,80,53,7.27
19,Gazojak,TM,2022-05-05 03:13:57,41.1875,61.4036,72.27,35,100,11.10
20,Vila Franca Do Campo,PT,2022-05-05 03:13:34,37.7167,-25.4333,63.01,78,100,7.31
21,Hobart,AU,2022-05-05 03:07:03,-42.8794,147.3294,58.05,71,40,13.80
22,Monduli,TZ,2022-05-05 03:13:57,-3.3000,36.4500,57.38,95,42,5.28
23,Dikson,RU,2022-05-05 03:10:24,73.5069,80.5464,31.23,93,100,15.68
24,Qaanaaq,GL,2022-05-05 03:10:15,77.4840,-69.3632,16.81,93,100,4.41
25,Busselton,AU,2022-05-05 03:08:55,-33.6500,115.3333,61.74,44,0,15.66
26,Mar Del Plata,AR,2022-05-05 03:07:52,-38.0023,-57.5575,55.87,70,100,11.01
27,Elizabeth City,US,2022-05-05 03:13:58,36.2946,-76.2511,72.01,92,40,8.05
28,San Juan,AR,2022-05-05 03:12:11,-31.5375,-68.5364,60.67,37,2,3.00
29,Bethel,US,2022-05-05 03:12:20,41.3712,-73.4140,57.04,87,56,1.01
30,Barrow,US,2022-05-05 03:06:59,71.2906,-156.7887,15.82,79,100,16.11
31,Xining,CN,2022-05-05 03:13:58,36.6167,101.7667,65.75,20,0,2.71
32,Mahebourg,MU,2022-05-05 03:10:20,-20.4081,57.7000,78.26,83,40,14.97
33,Touros,BR,2022-05-05 03:10:08,-5.1989,-35.4608,76.17,93,91,10.94
34,Kununurra,AU,2022-05-05 03:13:59,-15.7667,128.7333,91.38,31,7,9.22
35,Pesochnoye,RU,2022-05-05 03:14:00,58.0060,39.1772,31.24,76,12,6.49

In [36]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")